NODE_ENV=development
PORT=3000
API_PREFIX=api/v1
MONGODB_URI=mongodb://localhost:27017/morchis-dian
LOG_LEVEL=log

DIAN_ENVIRONMENT=testing
DIAN_PROFILE_EXECUTION_ID=2
DIAN_SEND_MODE=sync
DIAN_SOFTWARE_ID=00000000-0000-0000-0000-000000000000
DIAN_SOFTWARE_PIN=YOUR_SOFTWARE_PIN
DIAN_WSDL_TEST=https://vpfe-hab.dian.gov.co/WcfDianCustomerServices.svc?wsdl
DIAN_WSDL_PROD=https://vpfe.dian.gov.co/WcfDianCustomerServices.svc?wsdl
DIAN_TEST_SET_ID=TEST_SET_ID
DIAN_COMPANY_NIT=900999888
DIAN_COMPANY_DV=1
DIAN_COMPANY_NAME=MORCHIS SAS
DIAN_COMPANY_REGIME=48
DIAN_COMPANY_TAX_LEVEL=O-13
DIAN_COMPANY_RESPONSIBILITY=R-99-PN
DIAN_COMPANY_PHONE=3000000000
DIAN_COMPANY_EMAIL=facturacion@morchis.com
DIAN_COMPANY_ADDRESS=Parque Industrial Morchis Bodega 12
DIAN_COMPANY_CITY_CODE=11001
DIAN_COMPANY_CITY_NAME=Bogota
DIAN_COMPANY_DEPARTMENT_CODE=11
DIAN_COMPANY_DEPARTMENT_NAME=Bogota D.C.
DIAN_COMPANY_COUNTRY_CODE=CO
DIAN_COMPANY_COUNTRY_NAME=Colombia
DIAN_COMPANY_MUNICIPALITY_CODE=11001
DIAN_RESOLUTION_NUMBER=18760000001
DIAN_RESOLUTION_PREFIX=SETP
DIAN_RESOLUTION_FROM=1
DIAN_RESOLUTION_TO=500000
DIAN_RESOLUTION_VALID_FROM=2026-01-01
DIAN_RESOLUTION_VALID_TO=2026-12-31
DIAN_TECHNICAL_KEY=TECHNICAL_KEY_FROM_DIAN
DIAN_QR_TEST_URL=https://catalogo-vpfe-hab.dian.gov.co/document/searchqr?documentkey=
DIAN_QR_PROD_URL=https://catalogo-vpfe.dian.gov.co/document/searchqr?documentkey=

CERTIFICATE_PATH=./certs/dian-certificate.p12
CERTIFICATE_PASSPHRASE=changeit

MAIL_HOST=smtp.office365.com
MAIL_PORT=587
MAIL_SECURE=false
MAIL_USER=facturacion@morchis.com
MAIL_PASS=MAIL_PASSWORD
MAIL_FROM=Facturacion Morchis <facturacion@morchis.com>

PDF_OUTPUT_DIR=./tmp/pdf
POS_PRINTER_WIDTH_MM=80